{% extends 'base_generic.html' %}

{% block content %}
<h1>All Borrowed Books</h1>
<ul>
{{ perms.catalog.can_mark_returned }}
  {% if borrowed_books %}
    {% for borrowed_book in borrowed_books %}
      <li class="{% if borrowed_book.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' borrowed_book.book.pk %}">{{borrowed_book.book.title}}</a> ({{ borrowed_book.due_back }}) {% if user.is_staff %}- {{ borrowed_book.borrower }}{% endif %} {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' borrowed_book.id %}">Renew</a>  {% endif %}
      </li>
    {% endfor %}
  {% else %}
  <p>No borrowed books</p>
  {% endif %}
</ul>
{% endblock content %}